<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>开发者中心</title>
    <link rel="stylesheet" href="../../frame/layui/css/layui.css">
    <link rel="stylesheet" href="http://www.ydpapi.renxixi.com/assets/css/global.css" media="all">
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../css/search.css">
    <link rel="icon" href="../image/code.png">
</head>

<body class="body">

<div class="layui-main site-inline">
    ﻿
    <div class="site-tree">
        <ul class="layui-tree">
            <li><h2>基础说明</h2></li>
            <li class="site-tree-noicon ">
                <a href="/APai/V1.0/use.html">
                    <cite>开始使用</cite>
                    <em>Getting Started</em>
                </a>
            </li>
            <li class="site-tree-noicon ">
                <a href="/APai/V1.0/modules.html">
                    <cite>模块规范</cite>
                    <em>使用 / 扩展</em>
                </a>
            </li>
            <li class="site-tree-noicon ">
                <a href="/APai/V1.0/faq.html">
                    <cite>常见问题</cite>
                    <em>FAQ</em>
                </a>
            </li>
            <li class="site-tree-noicon layui-this">
                <a href="/APai/V1.0/changelog.html">
                    <cite>更新日志</cite>
                    <span class="layui-badge-dot" style="position: relative; top: -3px; left: -3px;"></span>
                </a>
            </li>

            <li><h2>公共模块</h2></li>
            <li class="site-tree-noicon ">
                <a href="/APai/V1.0/getCityList/2.html">

                    <!-- <cite>获取城市列表<font color="#FF5722">  POST</font></cite> -->
                    <!-- 1待开发 2进行中 3调试中 4待修复 5已废弃 6已完成 7已停用 -->
                    <cite>获取城市列表
                        <font color="#009688"> 【已完成】</font>
                    </cite>
                    <em>公共</em>
                </a>
            </li>
            <li class="site-tree-noicon ">
                <a href="./26.html">

                    <!-- <cite>发送短信验证码<font color="#FF5722">  POST</font></cite> -->
                    <!-- 1待开发 2进行中 3调试中 4待修复 5已废弃 6已完成 7已停用 -->
                    <cite>发送短信验证码
                        <font color="#009688"> 【已完成】</font>
                    </cite>
                    <em>私有</em>
                </a>
            </li>
            <li class="site-tree-noicon ">
                <a href="/APai/V1.0/getXingzuoList/29.html">

                    <!-- <cite>获取星座列表<font color="#FF5722">  POST</font></cite> -->
                    <!-- 1待开发 2进行中 3调试中 4待修复 5已废弃 6已完成 7已停用 -->
                    <cite>获取星座列表
                        <font color="#009688"> 【已完成】</font>
                    </cite>
                    <em>公共</em>
                </a>
            </li>
            <li class="site-tree-noicon ">
                <a href="/APai/V1.0/getCareerList/31.html">

                    <!-- <cite>获取职业列表<font color="#FF5722">  POST</font></cite> -->
                    <!-- 1待开发 2进行中 3调试中 4待修复 5已废弃 6已完成 7已停用 -->
                    <cite>获取职业列表
                        <font color="#009688"> 【已完成】</font>
                    </cite>
                    <em>公共</em>
                </a>
            </li>
            <li class="site-tree-noicon ">
                <a href="/APai/V1.0/getMarriageList/32.html">

                    <!-- <cite>获取婚姻状态列表<font color="#FF5722">  POST</font></cite> -->
                    <!-- 1待开发 2进行中 3调试中 4待修复 5已废弃 6已完成 7已停用 -->
                    <cite>获取婚姻状态列表
                        <font color="#009688"> 【已完成】</font>
                    </cite>
                    <em>公共</em>
                </a>
            </li>
            <li class="site-tree-noicon ">
                <a href="/APai/V1.0/doc/40.html">

                    <!-- <cite>设置支付密码<font color="#FF5722">  POST</font></cite> -->
                    <!-- 1待开发 2进行中 3调试中 4待修复 5已废弃 6已完成 7已停用 -->
                    <cite>设置支付密码
                        <font color="#FF5722"> 【待开发】</font>
                    </cite>
                    <em>公共</em>
                </a>
            </li>
            <li class="site-tree-noicon ">
                <a href="/APai/V1.0/getAboutInfo/46.html">

                    <!-- <cite>获取系统关于<font color="#FF5722">  POST</font></cite> -->
                    <!-- 1待开发 2进行中 3调试中 4待修复 5已废弃 6已完成 7已停用 -->
                    <cite>获取系统关于
                        <font color="#009688"> 【已完成】</font>
                    </cite>
                    <em>公共</em>
                </a>
            </li>
            <li class="site-tree-noicon ">
                <a href="/APai/V1.0/upload/52.html">

                    <!-- <cite>上传图片(通用)<font color="#FF5722">  POST</font></cite> -->
                    <!-- 1待开发 2进行中 3调试中 4待修复 5已废弃 6已完成 7已停用 -->
                    <cite>上传图片(通用)
                        <font color="#009688"> 【已完成】</font>
                    </cite>
                    <em>公共</em>
                </a>
            </li>
            <li><h2>登录注册</h2></li>
            <li class="site-tree-noicon ">
                <a href="/APai/V1.0/register/23.html">

                    <!-- <cite>注册接口<font color="#FF5722">  POST</font></cite> -->
                    <!-- 1待开发 2进行中 3调试中 4待修复 5已废弃 6已完成 7已停用 -->
                    <cite>注册接口
                        <font color="#009688"> 【已完成】</font>
                    </cite>
                    <em>公共</em>
                </a>
            </li>
            <li class="site-tree-noicon ">
                <a href="/APai/V1.0/login/24.html">

                    <!-- <cite>登录接口<font color="#FF5722">  POST</font></cite> -->
                    <!-- 1待开发 2进行中 3调试中 4待修复 5已废弃 6已完成 7已停用 -->
                    <cite>登录接口
                        <font color="#009688"> 【已完成】</font>
                    </cite>
                    <em>私有</em>
                </a>
            </li>
            <li class="site-tree-noicon ">
                <a href="/APai/V1.0/resetPwd/39.html">

                    <!-- <cite>重置密码/忘记密码<font color="#FF5722">  POST</font></cite> -->
                    <!-- 1待开发 2进行中 3调试中 4待修复 5已废弃 6已完成 7已停用 -->
                    <cite>重置密码/忘记密码
                        <font color="#009688"> 【已完成】</font>
                    </cite>
                    <em>公共</em>
                </a>
            </li>
            <li><h2>首页</h2></li>
            <li class="site-tree-noicon ">
                <a href="/APai/V1.0/getAdList/1.html">

                    <!-- <cite>首页广告列表<font color="#FF5722">  POST</font></cite> -->
                    <!-- 1待开发 2进行中 3调试中 4待修复 5已废弃 6已完成 7已停用 -->
                    <cite>首页广告列表
                        <font color="#009688"> 【已完成】</font>
                    </cite>
                    <em>公共</em>
                </a>
            </li>
            <li class="site-tree-noicon ">
                <a href="/APai/V1.0/doc/3.html">

                    <!-- <cite>获取天气预报<font color="#FF5722">  POST</font></cite> -->
                    <!-- 1待开发 2进行中 3调试中 4待修复 5已废弃 6已完成 7已停用 -->
                    <cite>获取天气预报
                        <font color="#FF5722"> 【待开发】</font>
                    </cite>
                    <em>私有</em>
                </a>
            </li>
            <li><h2>派友圈子</h2></li>
            <li class="site-tree-noicon ">
                <a href="/APai/V1.0/fabu/4.html">

                    <!-- <cite>发布圈子信息<font color="#FF5722">  POST</font></cite> -->
                    <!-- 1待开发 2进行中 3调试中 4待修复 5已废弃 6已完成 7已停用 -->
                    <cite>发布圈子信息
                        <font color="#009688"> 【已完成】</font>
                    </cite>
                    <em>私有</em>
                </a>
            </li>
            <li class="site-tree-noicon ">
                <a href="/APai/V1.0/getList/5.html">

                    <!-- <cite>获取圈子列表<font color="#FF5722">  POST</font></cite> -->
                    <!-- 1待开发 2进行中 3调试中 4待修复 5已废弃 6已完成 7已停用 -->
                    <cite>获取圈子列表
                        <font color="#009688"> 【已完成】</font>
                    </cite>
                    <em>私有</em>
                </a>
            </li>
            <li class="site-tree-noicon ">
                <a href="/APai/V1.0/getDetailInfo/6.html">

                    <!-- <cite>获取圈子详情<font color="#FF5722">  POST</font></cite> -->
                    <!-- 1待开发 2进行中 3调试中 4待修复 5已废弃 6已完成 7已停用 -->
                    <cite>获取圈子详情
                        <font color="#009688"> 【已完成】</font>
                    </cite>
                    <em>私有</em>
                </a>
            </li>
            <li class="site-tree-noicon ">
                <a href="/APai/V1.0/reflect/7.html">

                    <!-- <cite>举报圈子内容<font color="#FF5722">  POST</font></cite> -->
                    <!-- 1待开发 2进行中 3调试中 4待修复 5已废弃 6已完成 7已停用 -->
                    <cite>举报圈子内容
                        <font color="#009688"> 【已完成】</font>
                    </cite>
                    <em>私有</em>
                </a>
            </li>
            <li class="site-tree-noicon ">
                <a href="/APai/V1.0/comment/8.html">

                    <!-- <cite>评论圈子内容<font color="#FF5722">  POST</font></cite> -->
                    <!-- 1待开发 2进行中 3调试中 4待修复 5已废弃 6已完成 7已停用 -->
                    <cite>评论圈子内容
                        <font color="#009688"> 【已完成】</font>
                    </cite>
                    <em>私有</em>
                </a>
            </li>
            <li class="site-tree-noicon ">
                <a href="/APai/V1.0/getCommentList/9.html">

                    <!-- <cite>获取圈子评论列表<font color="#FF5722">  POST</font></cite> -->
                    <!-- 1待开发 2进行中 3调试中 4待修复 5已废弃 6已完成 7已停用 -->
                    <cite>获取圈子评论列表
                        <font color="#009688"> 【已完成】</font>
                    </cite>
                    <em>私有</em>
                </a>
            </li>
            <li class="site-tree-noicon ">
                <a href="/APai/V1.0/praise/10.html">

                    <!-- <cite>点赞圈子内容<font color="#FF5722">  POST</font></cite> -->
                    <!-- 1待开发 2进行中 3调试中 4待修复 5已废弃 6已完成 7已停用 -->
                    <cite>点赞圈子内容
                        <font color="#009688"> 【已完成】</font>
                    </cite>
                    <em>私有</em>
                </a>
            </li>
            <li class="site-tree-noicon ">
                <a href="/APai/V1.0/getReflectTypeList/11.html">

                    <!-- <cite>获取圈子举报类型<font color="#FF5722">  POST</font></cite> -->
                    <!-- 1待开发 2进行中 3调试中 4待修复 5已废弃 6已完成 7已停用 -->
                    <cite>获取圈子举报类型
                        <font color="#009688"> 【已完成】</font>
                    </cite>
                    <em>私有</em>
                </a>
            </li>
            <li><h2>派聊</h2></li>
            <li class="site-tree-noicon ">
                <a href="/APai/V1.0/doc/50.html">

                    <!-- <cite>获取派粉/派友会话<font color="#FF5722">  POST</font></cite> -->
                    <!-- 1待开发 2进行中 3调试中 4待修复 5已废弃 6已完成 7已停用 -->
                    <cite>获取派粉/派友会话
                        <font color="#FF5722"> 【待开发】</font>
                    </cite>
                    <em>私有</em>
                </a>
            </li>
            <li class="site-tree-noicon ">
                <a href="/APai/V1.0/doc/51.html">

                    <!-- <cite>获取聊天消息列表<font color="#FF5722">  POST</font></cite> -->
                    <!-- 1待开发 2进行中 3调试中 4待修复 5已废弃 6已完成 7已停用 -->
                    <cite>获取聊天消息列表
                        <font color="#FF5722"> 【待开发】</font>
                    </cite>
                    <em>私有</em>
                </a>
            </li>
            <li><h2>派友</h2></li>
            <li class="site-tree-noicon ">
                <a href="/APai/V1.0/doc/19.html">

                    <!-- <cite>获取派友列表<font color="#FF5722">  POST</font></cite> -->
                    <!-- 1待开发 2进行中 3调试中 4待修复 5已废弃 6已完成 7已停用 -->
                    <cite>获取派友列表
                        <font color="#FF5722"> 【待开发】</font>
                    </cite>
                    <em>私有</em>
                </a>
            </li>
            <li class="site-tree-noicon ">
                <a href="/APai/V1.0/doc/20.html">

                    <!-- <cite>获取派粉列表<font color="#FF5722">  POST</font></cite> -->
                    <!-- 1待开发 2进行中 3调试中 4待修复 5已废弃 6已完成 7已停用 -->
                    <cite>获取派粉列表
                        <font color="#FF5722"> 【待开发】</font>
                    </cite>
                    <em>私有</em>
                </a>
            </li>
            <li class="site-tree-noicon ">
                <a href="/APai/V1.0/doc/21.html">

                    <!-- <cite>关注派友接口<font color="#FF5722">  POST</font></cite> -->
                    <!-- 1待开发 2进行中 3调试中 4待修复 5已废弃 6已完成 7已停用 -->
                    <cite>关注派友接口
                        <font color="#FF5722"> 【待开发】</font>
                    </cite>
                    <em>私有</em>
                </a>
            </li>
            <li class="site-tree-noicon ">
                <a href="/APai/V1.0/doc/22.html">

                    <!-- <cite>取消关注派友<font color="#FF5722">  POST</font></cite> -->
                    <!-- 1待开发 2进行中 3调试中 4待修复 5已废弃 6已完成 7已停用 -->
                    <cite>取消关注派友
                        <font color="#FF5722"> 【待开发】</font>
                    </cite>
                    <em>私有</em>
                </a>
            </li>
            <li><h2>活动</h2></li>
            <li class="site-tree-noicon ">
                <a href="/APai/V1.0/getCateList/12.html">

                    <!-- <cite>获取活动分类列表<font color="#FF5722">  POST</font></cite> -->
                    <!-- 1待开发 2进行中 3调试中 4待修复 5已废弃 6已完成 7已停用 -->
                    <cite>获取活动分类列表
                        <font color="#009688"> 【已完成】</font>
                    </cite>
                    <em>私有</em>
                </a>
            </li>
            <li class="site-tree-noicon ">
                <a href="/APai/V1.0/fabu/13.html">

                    <!-- <cite>发布活动<font color="#FF5722">  POST</font></cite> -->
                    <!-- 1待开发 2进行中 3调试中 4待修复 5已废弃 6已完成 7已停用 -->
                    <cite>发布活动
                        <font color="#009688"> 【已完成】</font>
                    </cite>
                    <em>私有</em>
                </a>
            </li>
            <li class="site-tree-noicon ">
                <a href="/APai/V1.0/getActivityList/14.html">

                    <!-- <cite>获取发起活动列表<font color="#FF5722">  POST</font></cite> -->
                    <!-- 1待开发 2进行中 3调试中 4待修复 5已废弃 6已完成 7已停用 -->
                    <cite>获取发起活动列表
                        <font color="#009688"> 【已完成】</font>
                    </cite>
                    <em>私有</em>
                </a>
            </li>
            <li class="site-tree-noicon ">
                <a href="/APai/V1.0/getActivityInfo/15.html">

                    <!-- <cite>获取活动详情<font color="#FF5722">  POST</font></cite> -->
                    <!-- 1待开发 2进行中 3调试中 4待修复 5已废弃 6已完成 7已停用 -->
                    <cite>获取活动详情
                        <font color="#009688"> 【已完成】</font>
                    </cite>
                    <em>私有</em>
                </a>
            </li>
            <li class="site-tree-noicon ">
                <a href="/APai/V1.0/createSignOrder/16.html">

                    <!-- <cite>活动报名<font color="#FF5722">  POST</font></cite> -->
                    <!-- 1待开发 2进行中 3调试中 4待修复 5已废弃 6已完成 7已停用 -->
                    <cite>活动报名
                        <font color="#009688"> 【已完成】</font>
                    </cite>
                    <em>私有</em>
                </a>
            </li>
            <li class="site-tree-noicon ">
                <a href="/APai/V1.0/collect/17.html">

                    <!-- <cite>活动收藏<font color="#FF5722">  POST</font></cite> -->
                    <!-- 1待开发 2进行中 3调试中 4待修复 5已废弃 6已完成 7已停用 -->
                    <cite>活动收藏
                        <font color="#009688"> 【已完成】</font>
                    </cite>
                    <em>私有</em>
                </a>
            </li>
            <li class="site-tree-noicon ">
                <a href="/APai/V1.0/getConsumTypeList/18.html">

                    <!-- <cite>获取活动消费方式<font color="#FF5722">  POST</font></cite> -->
                    <!-- 1待开发 2进行中 3调试中 4待修复 5已废弃 6已完成 7已停用 -->
                    <cite>获取活动消费方式
                        <font color="#009688"> 【已完成】</font>
                    </cite>
                    <em>私有</em>
                </a>
            </li>
            <li class="site-tree-noicon ">
                <a href="/APai/V1.0/getCanyuActivityList/53.html">

                    <!-- <cite>获取参与活动列表<font color="#FF5722">  POST</font></cite> -->
                    <!-- 1待开发 2进行中 3调试中 4待修复 5已废弃 6已完成 7已停用 -->
                    <cite>获取参与活动列表
                        <font color="#FF5722"> 【待开发】</font>
                    </cite>
                    <em>私有</em>
                </a>
            </li>
            <li><h2>活动订单</h2></li>
            <li class="site-tree-noicon ">
                <a href="/APai/V1.0/doc/47.html">

                    <!-- <cite>创建活动订单<font color="#FF5722">  POST</font></cite> -->
                    <!-- 1待开发 2进行中 3调试中 4待修复 5已废弃 6已完成 7已停用 -->
                    <cite>创建活动订单
                        <font color="#FF5722"> 【待开发】</font>
                    </cite>
                    <em>私有</em>
                </a>
            </li>
            <li class="site-tree-noicon ">
                <a href="/APai/V1.0/doc/48.html">

                    <!-- <cite>获取订单列表<font color="#FF5722">  POST</font></cite> -->
                    <!-- 1待开发 2进行中 3调试中 4待修复 5已废弃 6已完成 7已停用 -->
                    <cite>获取订单列表
                        <font color="#FF5722"> 【待开发】</font>
                    </cite>
                    <em>私有</em>
                </a>
            </li>
            <li class="site-tree-noicon ">
                <a href="/APai/V1.0/doc/49.html">

                    <!-- <cite>获取订单详情<font color="#FF5722">  POST</font></cite> -->
                    <!-- 1待开发 2进行中 3调试中 4待修复 5已废弃 6已完成 7已停用 -->
                    <cite>获取订单详情
                        <font color="#FF5722"> 【待开发】</font>
                    </cite>
                    <em>私有</em>
                </a>
            </li>
            <li><h2>个人中心</h2></li>
            <li class="site-tree-noicon ">
                <a href="/APai/V1.0/resetPwd/25.html">

                    <!-- <cite>修改密码<font color="#FF5722">  POST</font></cite> -->
                    <!-- 1待开发 2进行中 3调试中 4待修复 5已废弃 6已完成 7已停用 -->
                    <cite>修改密码
                        <font color="#009688"> 【已完成】</font>
                    </cite>
                    <em>私有</em>
                </a>
            </li>
            <li class="site-tree-noicon ">
                <a href="/APai/V1.0/doc/44.html">

                    <!-- <cite>钱包提现<font color="#FF5722">  POST</font></cite> -->
                    <!-- 1待开发 2进行中 3调试中 4待修复 5已废弃 6已完成 7已停用 -->
                    <cite>钱包提现
                        <font color="#FF5722"> 【待开发】</font>
                    </cite>
                    <em>私有</em>
                </a>
            </li>
            <li class="site-tree-noicon ">
                <a href="/APai/V1.0/doc/43.html">

                    <!-- <cite>获取我的奖金列表<font color="#FF5722">  POST</font></cite> -->
                    <!-- 1待开发 2进行中 3调试中 4待修复 5已废弃 6已完成 7已停用 -->
                    <cite>获取我的奖金列表
                        <font color="#FF5722"> 【待开发】</font>
                    </cite>
                    <em>私有</em>
                </a>
            </li>
            <li class="site-tree-noicon ">
                <a href="/APai/V1.0/doc/42.html">

                    <!-- <cite>获取我的钱包列表<font color="#FF5722">  POST</font></cite> -->
                    <!-- 1待开发 2进行中 3调试中 4待修复 5已废弃 6已完成 7已停用 -->
                    <cite>获取我的钱包列表
                        <font color="#FF5722"> 【待开发】</font>
                    </cite>
                    <em>私有</em>
                </a>
            </li>
            <li class="site-tree-noicon ">
                <a href="/APai/V1.0/doc/41.html">

                    <!-- <cite>隐私设置<font color="#FF5722">  POST</font></cite> -->
                    <!-- 1待开发 2进行中 3调试中 4待修复 5已废弃 6已完成 7已停用 -->
                    <cite>隐私设置
                        <font color="#FF5722"> 【待开发】</font>
                    </cite>
                    <em>私有</em>
                </a>
            </li>
            <li class="site-tree-noicon ">
                <a href="/APai/V1.0/doc/38.html">

                    <!-- <cite>我的团队<font color="#FF5722">  POST</font></cite> -->
                    <!-- 1待开发 2进行中 3调试中 4待修复 5已废弃 6已完成 7已停用 -->
                    <cite>我的团队
                        <font color="#FF5722"> 【待开发】</font>
                    </cite>
                    <em>私有</em>
                </a>
            </li>
            <li class="site-tree-noicon ">
                <a href="/APai/V1.0/doc/37.html">

                    <!-- <cite>获取个人名片信息<font color="#FF5722">  POST</font></cite> -->
                    <!-- 1待开发 2进行中 3调试中 4待修复 5已废弃 6已完成 7已停用 -->
                    <cite>获取个人名片信息
                        <font color="#FF5722"> 【待开发】</font>
                    </cite>
                    <em>私有</em>
                </a>
            </li>
            <li class="site-tree-noicon ">
                <a href="/APai/V1.0/doc/36.html">

                    <!-- <cite>获取经营范围<font color="#FF5722">  POST</font></cite> -->
                    <!-- 1待开发 2进行中 3调试中 4待修复 5已废弃 6已完成 7已停用 -->
                    <cite>获取经营范围
                        <font color="#FF5722"> 【待开发】</font>
                    </cite>
                    <em>私有</em>
                </a>
            </li>
            <li class="site-tree-noicon ">
                <a href="/APai/V1.0/doc/35.html">

                    <!-- <cite>获取商户类型<font color="#FF5722">  POST</font></cite> -->
                    <!-- 1待开发 2进行中 3调试中 4待修复 5已废弃 6已完成 7已停用 -->
                    <cite>获取商户类型
                        <font color="#FF5722"> 【待开发】</font>
                    </cite>
                    <em>私有</em>
                </a>
            </li>
            <li class="site-tree-noicon ">
                <a href="/APai/V1.0/doc/34.html">

                    <!-- <cite>商家申请接口<font color="#FF5722">  POST</font></cite> -->
                    <!-- 1待开发 2进行中 3调试中 4待修复 5已废弃 6已完成 7已停用 -->
                    <cite>商家申请接口
                        <font color="#FF5722"> 【待开发】</font>
                    </cite>
                    <em>私有</em>
                </a>
            </li>
            <li class="site-tree-noicon ">
                <a href="/APai/V1.0/doc/33.html">

                    <!-- <cite>账户实名认证<font color="#FF5722">  POST</font></cite> -->
                    <!-- 1待开发 2进行中 3调试中 4待修复 5已废弃 6已完成 7已停用 -->
                    <cite>账户实名认证
                        <font color="#FF5722"> 【待开发】</font>
                    </cite>
                    <em>私有</em>
                </a>
            </li>
            <li class="site-tree-noicon ">
                <a href="/APai/V1.0/doc/30.html">

                    <!-- <cite>获取学历列表<font color="#FF5722">  POST</font></cite> -->
                    <!-- 1待开发 2进行中 3调试中 4待修复 5已废弃 6已完成 7已停用 -->
                    <cite>获取学历列表
                        <font color="#FF5722"> 【待开发】</font>
                    </cite>
                    <em>公共</em>
                </a>
            </li>
            <li class="site-tree-noicon ">
                <a href="/APai/V1.0/doc/28.html">

                    <!-- <cite>编辑用户信息<font color="#FF5722">  POST</font></cite> -->
                    <!-- 1待开发 2进行中 3调试中 4待修复 5已废弃 6已完成 7已停用 -->
                    <cite>编辑用户信息
                        <font color="#FF5722"> 【待开发】</font>
                    </cite>
                    <em>私有</em>
                </a>
            </li>
            <li class="site-tree-noicon ">
                <a href="/APai/V1.0/doc/27.html">

                    <!-- <cite>获取用户信息<font color="#FF5722">  POST</font></cite> -->
                    <!-- 1待开发 2进行中 3调试中 4待修复 5已废弃 6已完成 7已停用 -->
                    <cite>获取用户信息
                        <font color="#FF5722"> 【待开发】</font>
                    </cite>
                    <em>私有</em>
                </a>
            </li>
            <li class="site-tree-noicon ">
                <a href="/APai/V1.0/doc/45.html">

                    <!-- <cite>奖金转出<font color="#FF5722">  POST</font></cite> -->
                    <!-- 1待开发 2进行中 3调试中 4待修复 5已废弃 6已完成 7已停用 -->
                    <cite>奖金转出
                        <font color="#FF5722"> 【待开发】</font>
                    </cite>
                    <em>私有</em>
                </a>
            </li>
        </ul>
    </div>

    ﻿
    <div class="site-content">
        <h1 class="site-h1">更新日志</h1>
        <ul class="layui-timeline">
            <li class="layui-timeline-item">
                <a name="2-0-2"></a>
                <i class="layui-icon layui-timeline-axis"></i>
                <div class="layui-timeline-content layui-text">
                    <div class="layui-timeline-title">
                        <h2>v1.0.1</h2>
                        <span class="layui-badge-rim">2018-04-15</span>
                    </div>
                    <blockquote class="layui-elem-quote">
                        本版本对文档系统的模块做了细化，新增了文档所属公司的管理模块，方便以后文档按照公司进行单独管理
                    </blockquote>
                    <ul>
                        <li>
                            <h3>新增公司管理模块</h3>
                            <ul>
                                <li>增加了文档所属公司增加、修改、删除的功能；</li>
                                <li>增加了根据公司名称查询公司的功能；</li>
                            </ul>
                        </li>
                        <li>
                            <h3>文档模块的细化如下：</h3>
                            <ul>
                                <li>1、项目管理模块；</li>
                                <li>2、项目版本管理模块；</li>
                                <li>3、项目文档管理模块；</li>
                                <li>4、项目请求参数管理模块；</li>
                                <li>5、项目接口返回参数管理模块；</li>
                            </ul>
                        </li>
                        <li>
                            <h3>其它</h3>
                            <ul>
                                <li>对后台文档的功能做了完善；</li>
                                <li>API文档前台界面做了调整；</li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="layui-timeline-item">
                <i class="layui-icon layui-timeline-axis"></i>
                <div class="layui-timeline-content layui-text">
                    <div class="layui-timeline-title">
                        <h2>v1.0.0</h2>
                        <span class="layui-badge-rim">2018-04-01</span>
                    </div>
                    首个正式版本出蛋
                </div>
            </li>

            <li class="layui-timeline-item">
                <i class="layui-icon layui-timeline-axis"></i>
                <div class="layui-timeline-content layui-text">
                    <div class="layui-timeline-title">孵化</div>
                </div>
            </li>
        </ul>

        <!-- 页脚 -->
        <div class="layui-elem-quote">
            <p>【云多普】 - 用心与你沟通</p>
        </div>

    </div>

</div>

<script type="text/javascript" src="../../js/common/module-manage.js"></script>
<script type="text/javascript" src="../../frame/layui/layui.js"></script>
<script type="text/javascript" charset="utf8" src="../../frame/jquery-1.12.4.js"></script>
<script type="text/javascript" charset="utf8" src="../../frame/moment.js"></script>
<script type="text/javascript" charset="utf8" src="../../frame/form-srializeJSON.js"></script>
</body>

</html>