<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>修改资讯</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../../frame/layui/css/layui.css">
    <link href="../../frame/ueditor/themes/default/css/umeditor.css" type="text/css" rel="stylesheet">
</head>
<body class="body">
<blockquote class="layui-elem-quote">
    站外新闻只需要填写，资讯类型，发布日期，标题，资讯链接。
    站内新闻只需要填写，资讯类型，标题，描述，图片，资讯内容。
</blockquote>
<form id="info-update-form" class="layui-form">

    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">资讯类型</label>

            <div class="layui-input-inline">
                <select id="site" name="site">
                    <option value="1">站内</option>
                    <option value="2">站外</option>
                </select>
            </div>
        </div>

        <div class="layui-inline">
            <label class="layui-form-label">发布日期</label>

            <div class="layui-input-inline">
                <input type="text" name="pubTime" id="pubTime" autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">标题</label>
        <div class="layui-input-block" style="max-width: 600px;">
            <input type="text" name="title" lay-verify="required" autocomplete="off" placeholder="请输入标题" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">站外链接</label>
        <div class="layui-input-block" style="max-width: 600px;">
            <input type="text" name="contentUrl" autocomplete="off" placeholder="请输入站外链接" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">描述</label>
        <div class="layui-input-block" style="max-width: 800px;">
            <textarea name="summary" placeholder="请输入描述，可空" class="layui-textarea"></textarea>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">图片<br>162x100px</label>
        <div class="layui-input-block">
            <div class="layui-upload-drag">
                <a href=" javascript:void(0); ">
                    <img id="imageAvatarId" src="../../image/default_upload.png" alt="上传图片" width="162" height="100">
                </a>
                <input type="hidden" id="imageAvatar" name="imageAvatar" value="">
            </div>

            <button type="button" class="layui-btn" id="imageBtn">
                <i class="layui-icon"></i>
                上传图片
            </button>
            <input class="layui-upload-file" type="file" name="file">
        </div>
    </div>

    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">内容</label>
        <div class="layui-input-block" style="max-width: 1200px;">
            <textarea name="content" placeholder="" class="layui-textarea" id="container" style="border:0;padding:0"></textarea>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit="" lay-filter="info-update-form">立即提交</button>
        </div>
    </div>
    <input type="text" name="id" hidden>
</form>

<script id="container" name="content" type="text/plain"></script>
<script type="text/javascript" src="../../js/common/module-manage.js"></script>
<script type="text/javascript" src="../../frame/layui/layui.js"></script>
<script type="text/javascript" charset="utf8" src="../../frame/jquery-1.12.4.js"></script>
<script type="text/javascript" charset="utf8" src="../../frame/moment.js"></script>
<script type="text/javascript" charset="utf8" src="../../frame/form-srializeJSON.js"></script>

<script type="text/javascript" src="../../frame/ueditor/third-party/jquery.min.js"></script>
<script type="text/javascript" charset="utf-8" src="../../frame/ueditor/umeditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="../../frame/ueditor/umeditor.min.js"></script>
<script type="text/javascript" src="../../frame/ueditor/lang/zh-cn/zh-cn.js"></script>

<script type="text/javascript" charset="utf8" src="../../js/controller/info/info-update.js"></script>
</body>
</html>