<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <title>申请创新产品</title>
    <link rel="stylesheet" href="../../frame/layui/css/layui.css">
    <link rel="stylesheet" href="../../css/style.css">
    <style type="text/css">
        .operate {
            text-align: center;
            bottom: 0;
            position: relative;
            left: 0;
            right: 0;
        }
    </style>

    <style type="text/css">
        .layui-upload-drag {
            position: relative;
            padding: 10px;
            border: 1px dashed #e2e2e2;
            background-color: #fff;
            text-align: center;
            cursor: pointer;
            color: #999;
        }

        .layui-form-label{
            width: 180px;
        }

        .layui-input-block {
            margin-left: 210px;
        }
    </style>
</head>

<body class="body">
<form id="exhibition-idea-add-form" class="layui-form" action="" lay-filter="example">
    <!--产品ID-->
    <input type="hidden" id="productId" name="productId" value="">
    <!--申报单位ID-->
    <input type="hidden" id="companyId" name="companyId" value="">

    <div class="layui-form-item">
        <div class="layui-form-item">
            <label class="layui-form-label">产品名称</label>

            <div class="layui-input-block">
                <input type="text" name="productName" id="productName" disabled autocomplete="off" placeholder="请输入产品名称" class="layui-input">
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">申报技术产品图片</label>
        <div class="layui-input-block">
            <div class="layui-upload-drag">
                <a href=" javascript:void(0); ">
                    <img id="productPicAvatarId" src="../../image/default_upload_z.png" alt="上传图片" width="80" height="80">
                </a>
                <input type="hidden" id="productPic" name="productPic" value="">
            </div>

            <button type="button" class="layui-btn" id="productPicBtn">
                <i class="layui-icon"></i>
                上传图片
            </button>

            <input class="layui-upload-file" type="file" name="file">
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-form-item">
            <label class="layui-form-label">申报单位全称</label>

            <div class="layui-input-block">
                <input type="text" name="companyName" id="companyName" disabled autocomplete="off" placeholder="请输入申报单位全称" class="layui-input">
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">申报单位LOGO</label>
        <div class="layui-input-block">
            <div class="layui-upload-drag">
                <a href=" javascript:void(0); ">
                    <img id="comLogoAvatarId" src="../../image/default_upload_z.png" alt="上传图片" width="80" height="80">
                </a>
                <input type="hidden" id="comLogo" name="comLogo" value="">
            </div>

            <button type="button" class="layui-btn" id="comLogoBtn">
                <i class="layui-icon"></i>
                上传图片
            </button>
            <input class="layui-upload-file" type="file" name="file">
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-form-item">
            <label class="layui-form-label">通信地址和邮编</label>

            <div class="layui-input-block">
                <input type="text" name="address" disabled autocomplete="off" placeholder="请输入通信地址和邮编" class="layui-input">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-form-item">
            <label class="layui-form-label">联系人及移动电话</label>

            <div class="layui-input-block">
                <input type="text" name="phone" disabled autocomplete="off" placeholder="请输入联系人及移动电话" class="layui-input">
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">展品分类</label>

            <div class="layui-input-inline">
                <select lay-filter="categoryId" id="categoryId" name="categoryId" disabled>
                    <option value="">请选择分类</option>

                    <optgroup label="智慧消防">
                        <option value="智慧消防技术产品">智慧消防技术产品</option>
                        <option value="消防信息化技术产品">消防信息化技术产品</option>
                    </optgroup>
                    <optgroup label="灭火系统和消防器具">
                        <option value="喷水灭火产品">喷水灭火产品</option>
                        <option value="泡沫灭火设备产品">泡沫灭火设备产品</option>
                        <option value="干粉灭火设备产品">干粉灭火设备产品</option>
                        <option value="气体灭火设备产品">气体灭火设备产品</option>
                        <option value="灭火剂">灭火剂</option>
                        <option value="灭火器">灭火器</option>
                        <option value="消防给水设备产品">消防给水设备产品</option>
                    </optgroup>
                    <optgroup label="应急救援装备及职业健康">
                        <option value="消防车辆">消防车辆</option>
                        <option value="消防灭火装备">消防灭火装备</option>
                        <option value="消防员防护装备">消防员防护装备</option>
                        <option value="消防抢险救援装备">消防抢险救援装备</option>
                        <option value="消防特种装备">消防特种装备</option>
                        <option value="消防训练装备">消防训练装备</option>
                        <option value="消防员职业健康">消防员职业健康</option>
                        <option value="应急救援装备">应急救援装备</option>
                        <option value="消防通信产品">消防通信产品</option>
                    </optgroup>
                    <optgroup label="火灾防护及逃生自救">
                        <option value="火灾探测器">火灾探测器</option>
                        <option value="电气火灾监控系统">电气火灾监控系统</option>
                        <option value="消防联动控制系统">消防联动控制系统</option>
                        <option value="可燃气体报警产品">可燃气体报警产品</option>
                        <option value="消防应急照明产品">消防应急照明产品</option>
                        <option value="消防安全疏散指示产品">消防安全疏散指示产品</option>
                        <option value="消防安全标志">消防安全标志</option>
                        <option value="防火涂料">防火涂料</option>
                        <option value="防火堵料">防火堵料</option>
                        <option value="防火门">防火门</option>
                        <option value="防火窗">防火窗</option>
                        <option value="防火卷帘">防火卷帘</option>
                        <option value="防火玻璃">防火玻璃</option>
                        <option value="建筑防烟排烟设施">建筑防烟排烟设施</option>
                        <option value="逃生自救">逃生自救</option>
                    </optgroup>
                    <optgroup label="消防科研及火灾事故调查">
                        <option value="消防科研技术设备">消防科研技术设备</option>
                        <option value="火灾事故调查技术设备">火灾事故调查技术设备</option>
                    </optgroup>
                    <optgroup label="其它">
                        <option value="其它">其它</option>
                    </optgroup>
                </select>
            </div>
        </div>

        <div class="layui-inline" id="otherCategoryDiv" style="display: none">
            <label class="layui-form-label">其它分类</label>

            <div class="layui-input-inline">
                <input type="text" name="otherCategory" disabled placeholder="请输入其它分类" class="layui-input">
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">申报消防技术产品的具体名称和规格、型号（每张申报表填写1项）</label>

        <div class="layui-input-block">
            <textarea name="des" disabled autocomplete="off" placeholder="" class="layui-textarea"></textarea>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">采用了哪些新技术、新材料、新工艺，实现了哪些新功能或者开辟了哪些新的应用领域</label>

        <div class="layui-input-block">
            <textarea name="quota" disabled autocomplete="off" placeholder="请输入申报技术产品的名称及规格型号" class="layui-textarea"></textarea>
        </div>
    </div>



    <div class="layui-form-item">
        <label class="layui-form-label">与同类技术产品比较，主要包括：性价比，适用性，安全性、可靠性，市场和应用前景如何</label>

        <div class="layui-input-block">
            <textarea name="ideaPoint" disabled autocomplete="off" placeholder="" class="layui-textarea"></textarea>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">2019年1月1日至今，获得的发明专利或实用新型专利授权、软件著作权等</label>

        <div class="layui-input-block">
            <textarea name="achievement" disabled autocomplete="off" placeholder="" class="layui-textarea"></textarea>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">专利，软著相关图片（ZIP压缩包）</label>

        <div class="layui-input-inline" style="width: 400px;">
            <input type="text" name="achievementZip" id="achievementZip" disabled autocomplete="off" placeholder="" class="layui-input">
        </div>

        <div class="layui-input-inline">
            <button type="button" class="layui-btn" id="achievementZipBtn"><i class="layui-icon"></i>上传压缩文件(最大10M)</button>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">针对申报的消防技术产品，是否已经编制发布了企业标准，标准名称、发布时间及编号</label>

        <div class="layui-input-block">
            <textarea name="standard" disabled autocomplete="off" placeholder="" class="layui-textarea"></textarea>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">何时通过何种评价机构和评定方式，证明核心、关键技术指标达到国内领先或国际先进水平</label>

        <div class="layui-input-block">
            <textarea name="core" disabled autocomplete="off" placeholder="" class="layui-textarea"></textarea>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">相关证明（ZIP压缩包）</label>

        <div class="layui-input-inline" style="width: 400px;">
            <input type="text" name="corePic" id="corePic" disabled autocomplete="off" placeholder="" class="layui-input">
        </div>

        <div class="layui-input-inline">
            <button type="button" class="layui-btn" id="corePicBtn"><i class="layui-icon"></i>上传压缩文件(最大10M)</button>

        </div>
    </div>


    <div class="layui-form-item">
        <label class="layui-form-label">申报单位承诺（上述申报资料全部真实有效。加盖单位公章，日期。拍照上传）</label>
        <div class="layui-input-block">
            <div class="layui-upload-drag">
                <a href=" javascript:void(0); ">
                    <img id="promisePicAvatarId" src="../../image/default_upload_z.png" alt="上传图片" width="160" height="80">
                </a>
                <input type="hidden" id="promisePic" name="promisePic" value="">
            </div>

            <button type="button" class="layui-btn" id="promisePicBtn">
                <i class="layui-icon"></i>
                上传图片
            </button>
            <input class="layui-upload-file" type="file" name="file">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">是否提供现场答疑</label>
        <div class="layui-input-block">
            <input type="radio" lay-filter="proAsk1" name="proAsk" value="是" title="是" disabled>
            <input type="radio" lay-filter="proAsk1" name="proAsk" value="否" title="否" disabled>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">是否提供现场产品演示</label>
        <div class="layui-input-block">
            <input type="radio" name="proView" value="是" title="是" disabled>
            <input type="radio" name="proView" value="否" title="否" disabled>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">是否参与产品展示推介活动</label>
        <div class="layui-input-block">
            <input type="radio" name="proEvent" value="是" title="是" disabled>
            <input type="radio" name="proEvent" value="否" title="否" disabled>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">所提供视频是否可以在媒体公开宣传</label>
        <div class="layui-input-block">
            <input type="radio" lay-filter="proVideo1" name="proVideo" value="是" title="是" disabled>
            <input type="radio" lay-filter="proVideo1" name="proVideo" value="否" title="否" checked="true" disabled>
            选择是，需要上传宣传视频
        </div>
    </div>

    <div class="layui-form-item" id="publicityVideoDiv" style="display: none">
        <label class="layui-form-label">上传视频（分辨率：1920x1080 （横版）；时长：10分钟以内；格式：mp4；内容：仅限参选产品介绍）</label>

        <div class="layui-input-inline" style="width: 400px;">
            <input type="text" name="video" id="video" disabled autocomplete="off" placeholder="" class="layui-input">
        </div>

        <div class="layui-input-inline">
            <button type="button" class="layui-btn" id="videoBtn"><i class="layui-icon"></i>上传视频(1920x1080/10分钟以内/mp4)</button>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">评审状态</label>

            <div class="layui-input-inline">
                <select id="status" name="status" disabled>
                    <option value="0" selected>等待评选</option>
                    <option value="1">评选通过</option>
                    <option value="-1">评选失败</option>
                </select>
            </div>
        </div>
    </div>

    <input type="hidden" id="id" name="id" value="">
</form>

<script type="text/javascript">
    document.write("<script type='text/javascript' src='../../js/common/module-manage.js?random=" + Math.random() + "'></s" + "cript>");
    document.write("<script type='text/javascript' src='../../frame/layui/layui.js?random=" + Math.random() + "'></s" + "cript>");
    document.write("<script type='text/javascript' src='../../frame/moment.js?random=" + Math.random() + "'></s" + "cript>");
    document.write("<script type='text/javascript' src='../../js/controller/exhibition/exhibition-idea-add.js?random=" + Math.random() + "'></s" + "cript>");
</script>

</body>

</html>