.layui-form-item {
    margin-bottom: 1px;
    margin-bottom: 0;
}

.layui-form-item .layui-input-inline {
    float: left;
    width: 100px;
    margin-right: 1px
}
.layui-input, .layui-select, .layui-textarea{
    height: 25px;
}
.layui-form-label {
    padding: 2px 5px;
}
.layui-form-pane .layui-form-label {
    padding: 1px 5px;
    height: 25px;
    width: auto;
}

.btn-search{
    height:25px;
    line-height: 25px;
}

.date-range{
    width: 170px;
}

.layui-form-item .date-range-inline{
    width: 170px;
}

.condition{
    padding: 5px 0 0 0;
}